#left-block {
  width: 50%;
  height: 80%;
  margin-left: 10%;
  background-color: #D3D3D3;
  margin-top: 2%;
  box-shadow: 0 0 10px;
  float: left; }
  #left-block #left-block-header {
    width: 100%;
    height: 12%;
    border-bottom: 3px solid black; }
    #left-block #left-block-header #chatrooms {
      float: left;
      width: 80%;
      padding-left: 5%; }
      #left-block #left-block-header #chatrooms h2 {
        line-height: 80%; }
    #left-block #left-block-header #create-chat-room {
      width: 20%;
      padding-right: 5%;
      padding-top: 10px;
      padding-bottom: 10px; }
      #left-block #left-block-header #create-chat-room button {
        border: none; }
  #left-block #room-list {
    overflow-y: auto;
    height: 88%; }
    #left-block #room-list .room-list-item {
      width: 100%;
      height: 15%;
      border-bottom: 1px solid black; }
      #left-block #room-list .room-list-item .room-list-item-info-wrapper {
        width: 90%;
        float: left;
        cursor: pointer; }
        #left-block #room-list .room-list-item .room-list-item-info-wrapper .room-image {
          width: 20%;
          float: left; }
          #left-block #room-list .room-list-item .room-list-item-info-wrapper .room-image i {
            font-size: 60px;
            text-align: center;
            margin-top: 5%; }
        #left-block #room-list .room-list-item .room-list-item-info-wrapper .room-label {
          width: 40%;
          float: left; }
          #left-block #room-list .room-list-item .room-list-item-info-wrapper .room-label h4 {
            margin-top: 10%; }
        #left-block #room-list .room-list-item .room-list-item-info-wrapper .room-properties {
          width: 40%; }
          #left-block #room-list .room-list-item .room-list-item-info-wrapper .room-properties .room-created-by {
            height: 50%; }
          #left-block #room-list .room-list-item .room-list-item-info-wrapper .room-properties .room-no-users {
            height: 50%; }
        #left-block #room-list .room-list-item .room-list-item-info-wrapper h4 {
          text-align: center; }
      #left-block #room-list .room-list-item .room-list-item-options {
        width: 10%; }
        #left-block #room-list .room-list-item .room-list-item-options i {
          font-size: 30px;
          text-align: center;
          cursor: pointer; }
        #left-block #room-list .room-list-item .room-list-item-options .edit-room {
          height: 50%; }

#right-block {
  width: 25%;
  height: 80%;
  background-color: #D3D3D3;
  margin-left: 65%;
  margin-top: 2%;
  box-shadow: 0 0 10px; }
  #right-block #right-block-header {
    width: 100%;
    height: 12%;
    border-bottom: 3px solid black; }
    #right-block #right-block-header h2 {
      text-align: center;
      line-height: 80%; }
  #right-block #create-room-form #create-room-name {
    width: 90%;
    height: 6%;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    border: none;
    padding-left: 5px; }
  #right-block #create-room-form #user-list {
    width: 90%;
    height: 40%;
    margin: 0 auto;
    margin-top: 10%;
    border: 2px solid black;
    overflow-y: auto; }
    #right-block #create-room-form #user-list .user-list-item {
      width: 100%;
      height: 30%;
      border-bottom: 1px solid black; }
      #right-block #create-room-form #user-list .user-list-item .user-image {
        width: 20%;
        float: left; }
        #right-block #create-room-form #user-list .user-list-item .user-image i {
          font-size: 40px;
          text-align: center;
          margin-top: 10%; }
      #right-block #create-room-form #user-list .user-list-item .user-name {
        width: 50%;
        text-align: center;
        float: left;
        padding-top: 3%; }
      #right-block #create-room-form #user-list .user-list-item .user-checkbox {
        width: 30%; }
        #right-block #create-room-form #user-list .user-list-item .user-checkbox input {
          width: 20px;
          height: 20px;
          margin-left: 40%;
          margin-top: 20%; }
  #right-block #create-room-form #create-room-button {
    width: 30%;
    height: 10%;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 5%; }

.edit-chatroom #members li {
  width: 100%; }
  .edit-chatroom #members li button {
    width: 30px;
    height: 20px;
    float: right; }
    .edit-chatroom #members li button i {
      font-size: 15px;
      margin-bottom: 10px; }
